# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log

# Terraform plan files
*.tfplan
tfplan


# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# dbt
dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/

# Airflow
airflow/logs/
airflow/**/__pycache__/

# Env / secrets
.env
.env.*

# OS/editor
.DS_Store
.vscode/
.idea/

#project info
info.txt
secrets.txt